<div class="inputt">
  <mat-card>
    <mat-card-header > <!--*removed style="color:#3F51B5"-->
      <mat-card-title>
        <i class="material-icons">school</i> COMMON DETAILS
      </mat-card-title>
    </mat-card-header>
    <mat-form-field>
      <mat-select [(value)]="dept" placeholder="Department">
        <mat-option value="Computer">Computer</mat-option>
      </mat-select>
      <mat-hint>Select Department</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-select [(value)]="sem" placeholder="Semester">
        <mat-option *ngIf="!isEvenSem" value="I">I</mat-option>
        <mat-option *ngIf="isEvenSem" value="II">II</mat-option>
        <mat-option *ngIf="!isEvenSem" value="III">III</mat-option>
        <mat-option *ngIf="isEvenSem" value="IV">IV</mat-option>
        <mat-option *ngIf="!isEvenSem" value="V">V</mat-option>
        <mat-option *ngIf="isEvenSem" value="VI">VI</mat-option>
        <mat-option *ngIf="!isEvenSem" value="VII">VII</mat-option>
        <mat-option *ngIf="isEvenSem" value="VIII">VIII</mat-option>
      </mat-select>
      <mat-hint>Select Semester</mat-hint>
    </mat-form-field>
    <mat-checkbox [(ngModel)]="show_logo"><i>DY Logo</i></mat-checkbox>
    <br>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <i class="material-icons">assignment</i> ASSIGNMENT DETAILS
      </mat-card-title>
    </mat-card-header>
    <mat-form-field>
      <input matInput type="text" [(ngModel)]="sub" placeholder="Subject">
      <mat-hint>Enter Subject</mat-hint>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput type="number" [(ngModel)]="assgn" placeholder="Assignment No. ">
      <mat-hint>Enter Assignment Number</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" [(ngModel)]="noOfQues" (keyup)="makemap()" placeholder="No of Questions">
      <mat-hint>Only upto 8 max</mat-hint>
    </mat-form-field>
    <div>
      <ul>
        <li *ngFor="let col of cols">
          <mat-form-field>
            <input matInput [(ngModel)]="col.ques" type="string" placeholder="Question No">
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="col.cos" type="string" placeholder="CO Number">
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="col.marks" type="string" placeholder="Marks">
          </mat-form-field>
        </li>
      </ul>
    </div>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <i class="material-icons">perm_identity</i> INDIVIDUAL DETAILS
      </mat-card-title>
    </mat-card-header>
    <mat-form-field>
      <input matInput type="text" [(ngModel)]="name" placeholder="Enter Name">
      <mat-hint>Leave Blank For Templates</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" [(ngModel)]="batch" placeholder="Enter Batch">
      <mat-hint>Leave Blank For Templates</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" [(ngModel)]="roll" placeholder="Enter Roll No">
      <mat-hint>Leave Blank For Templates</mat-hint>
    </mat-form-field>
  </mat-card>
  <br>
</div>
<div class="show">
  <div id="scroller">
    <div id="toBeConverted">
      <div id="page" class="page-grid-container">
        <div class="logo" *ngIf="show_logo">
          <img src="assets/Rait_logo.png" title="DYPATIL LOGO" width="130px" />
        </div>
        <div class="dept center">
          <h3>Department of Computer Engineering</h3>
        </div>
        <div class="acad">
          <h3 class="center">Academic Year: {{ year }}</h3>
        </div>
        <div class="assgn ">
          <h4>ASSIGNMENT NO.: {{ assgn }}</h4>
        </div>
        <div class="sub">
          <h4>Subject: {{ sub }} </h4>
        </div>
        <div class="sem">
          <h4> Semester: {{ sem }} </h4>
        </div>

        <div class="tablo">
          <table class="center">
            <tr>
              <td class="fix celll">Course Outcome</td>
              <td class="celll" *ngFor="let col of cols">
                CO{{ col.cos }}
              </td>
              <td></td>
            </tr>
            <tr>
              <td class="fix celll">Question No.</td>
              <td class="celll" *ngFor="let col of cols">
                {{ col.ques }}
              </td>
              <td>Total</td>
            </tr>
            <tr>
              <td class="fix celll">Marks Obtained</td>
              <td class="celll" *ngFor="let col of cols"></td>
              <td></td>
            </tr>
            <tr>
              <td class="fix celll">Marks Alloted</td>
              <td class="celll" *ngFor="let col of cols">
                {{ col.marks }}
              </td>
              <td>30</td>
            </tr>
          </table>
        </div>
        <div class="info">
          <h4>Name: {{ name }} </h4>
          <h4>Batch: {{ batch }} </h4>
          <h4>Roll No: {{ roll }} </h4>
          <h4>Signature of Faculty: </h4>
        </div>
      </div>
    </div>
  </div>
</div>
<mat-card id="actionz" class="tranz op">
  <button mat-raised-button color="primary" (click)="getPDF()">
    <i class="material-icons">picture_as_pdf</i> PDF
  </button>
  <button mat-raised-button color="accent" (click)="getPNG()">
    <i class="material-icons">image</i> PNG
  </button>
</mat-card>

<button id="btn-dl" mat-fab color="accent" (click)="toggler()">
    <i class="material-icons trans">{{ btn }}</i>
</button>
<button id="btn-view" mat-fab color="accent" (click)="scrollIt()" style="background-color: white; color: black;">
    <i class="material-icons">visibility</i>
</button>