.header {
    background-color: #C51162;
    color: #fff;
    padding: 20px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
}

.nav-button {
    float: left;
    padding: 3px;
    margin: 5px;
}

div>a {
    text-decoration-line: none;
    color: #fff;
}

.selected {
    border-block-end: medium solid #5ff5ac;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.selected>a {
    font-weight: bolder;
}
